#Item1{
  background-color: #bbeb14     ;
  border: 2px solid #4414EB;
  box-shadow: 10px 10px #bbeb14;
}

#Item2{
  background-color: #bbeb14;
  border: 2px solid #4414EB;
box-shadow: 10px 10px #bbeb14;
}
#Item3{
  background-color: #bbeb14;
  border: 2px solid #4414EB;
  box-shadow: 10px 10px #bbeb14;}
#Item4{
  background-color: #bbeb14;
  border: 2px solid #4414EB;
  box-shadow: 10px 10px #bbeb14;
}
#Item5{
background-color: #bbeb14;
border: 2px solid #4414EB;  
  box-shadow: 10px 10px #bbeb14;
}
#Item6{
  background-color: #bbeb14;
  border: 2px solid #4414EB;
  box-shadow: 10px 10px #bbeb14;
}
#container{
  background-color: #4414EB;
  width:100%;
  height:43%;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 300px ;
  grid-gap: 20px 20px;
  margin-top: 100px;
  overflow: hidden;
  border: 2px solid #4414EB;  
  box-shadow: 10px 10px #bbeb14;  }
.content{
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
}
.button{
  color: white;
  background-color: #4414EB;

  padding: 8px 8px 8px  8px;
}

  
.inline {
   display:inline-block;
   margin-right:5px;
   margin-top:80px;
   margin-left: 25px;
}
.projectheading{
  font-size: 19px;
  font-family:"Avenir Next";
  text-align: center;
  color: #4414EB;
  margin-top:35px;
}
hr{
  border: 1px solid #4414EB;
  margin-top:70px;
  margin-bottom: 1px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
li{
  float: left;
  width: 20%;
}
li a{
  display: block;
  color: grey;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  border-right: 1px solid lightgrey;
  font-size: 30px;
  font-family:"Avenir Next";}
li a:hover{
  background-color: #fff;
  border-bottom: 1px solid grey;
}
body{
  background-color: #fff;
}
h1{
  text-align: center;
  color: #4414EB;
  font-size: 25px;
  font-family: "Avenir Next";
  margin-top: 40px;
}
