#Item1{
  background-color: #bbeb14;
  border: 2px solid #4414EB;}
#Item2{
  background-color: #bbeb14;
  border: 2px solid #4414EB;}
#Item3{
  background-color: #bbeb14;
  border: 2px solid #4414EB;}
#Item4{
  background-color: #bbeb14;
  border: 2px solid #4414EB;
}
#Item5{
background-color: #bbeb14;
border: 2px solid #4414EB;  
}
#Item6{
  background-color: #bbeb14;
  border: 2px solid #4414EB;}
#container{
  background-color: #4414EB;
  width:100%;
  height:50%;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 300px ;
  grid-gap: 20px 20px;
  margin-top: 250px;
  overflow: hidden;
  }
.content{
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
}
.button{
  color: white;
  background-color: #4414EB;

  padding: 8px 8px 8px  8px;
}

  
.inline {
   display:inline-block;
   margin-right:5px;
   margin-top:80px;
   margin-left: 25px;
}
.projectheading{
  font-size: 12px;
  font-family:"Avenir Next";
  text-align: center;
  color: white;
  margin-top:35px;
}
hr{
  border: 1px solid white;
  margin-top:70px;
  margin-bottom: 1px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4414EB;
}
li{
  float: left;
  width: 25%;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #f1f1f1;
}
li:last-child{
  border-right: none;
}
body{
  background-color: #bbeb14;
}
