#school-pic{
  padding:100px 500px 100px 20px;
  position:absolute;
  width: 130px;
  height: 100px;
  display:inline-block;
  border-radius:60%;
}
#display-picture{
  border-radius: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  
}
#Social {

  color: #337ab7;
  font-family: "Avenir Next";
  font-size: 30px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  font-size:70px;
  font-family:"Avenir Next";
  margin-top:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
}
#Undergrad{
font-family: "Avenir Next" ;

  font-size: 24px;
  font-weight: 400;
  width:40%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
text-align: center;}

hr{
 border: 10px solid #8D0AF5;
  border-radius: 5px;}

a:hover{
color: black;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;}

li{
  float: left;
  width: 25%}
li a{
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #fff;
  border-bottom: 1px solid lightgrey;
  
}
li:last-child{
  border-right: none;
}
body{
  background-color: #fff;
}
li a:hover{
  
  border-bottom: 1px solid grey;
}
